*{
    text-decoration: none;
    font-weight: 400;
    font-family: sans-serif;
    font-size: large;
}
.bg-bscool{
    background-color: rgb(255, 255, 52);
}
.round{
    border: solid black 2px;
    border-radius: 10px;
}
button{
    padding-top: 0;
}
button:focus{
    background: rgb(255, 255, 78);
}
input{
    width:100%;
}

.carousel-slider{
    background-color: white;
    overflow: visible;
}

.all-posts{
    text-align:center;
}
.all-posts-btn{
    border: solid rgba(0,0,0,0.3) 1px;
    border-radius:25px;
    font-weight: 400;
}
